@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

* {
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight:normal;
}
body {
    background-color: #f5eaea;
}

#navbar {
    background-color: #7fcd91;
    display:inline-block;
    width:100%;
    height:48px;
}

a {
    text-decoration: none;
    color:#fff;
    letter-spacing:2px;
    color:black;
}

li {
    list-style-type:none;
}

a:hover {
    color:#fff;
}

a.links {
    display:inline-block;
    background-color: ;
    padding: 15px 20px;
    float:left;
}

a.links:hover {
    background-color: #66bd7a;
}

a.active {
    background-color: #5b5656;
    display:inline-block;
    background-color: ;
    padding: 15px 20px;
    float:left;
    color: white;
}

a.active:hover {
    background-color: #4d4646;
}

h1 {
    font-size:25px;
    font-weight:normal;
    display:inline;
    float:right;
    padding: 8px 15px;
}